* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(30, 38%, 92%);
}
main {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .product-img {
  width: 100%;
  border-radius: 8px 0 0 8px;
}
.text {
  padding: 1rem;
  background-color: white;
  border-radius: 0 8px 8px 0;
}
.perfume,
.brand-description,
.original-price,
.add-to-cart-msg {
  font-family: "Montserrat", sans-serif;
}
.brand-name,
.discounted-price {
  font-family: "Fraunces", sans-serif;
}
.perfume {
  font-size: 0.6rem;
  color: hsl(228, 12%, 48%);
  letter-spacing: 4px;
  padding: 10px 0;
}
.brand-name {
  font-size: 1.4rem;
}
.brand-description {
  font-size: 0.6rem;
  color: hsl(228, 12%, 48%);
  font-weight: 400;
  padding: 15px 10px 7px 0;
}
.prices {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 8px 0 15px 0;
}
.discounted-price {
  font-size: 1.4rem;
  color: hsl(158, 36%, 37%);
}
.original-price {
  font-size: 0.5rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  font-weight: 400;
}
.add-to-cart-btn {
  display: flex;
  justify-content: center;
  column-gap: 0.4rem;
  width: 95%;
  margin: 0 auto;
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}
.add-to-cart-btn .icon-cart {
  width: 0.6rem;
}
.add-to-cart-msg {
  color: white;
  font-size: 0.6rem;
}
@media (max-width: 400px) {
  body {
    padding: 0 1.5rem;
  }
  main {
    grid-template-columns: 1fr;
  }
  main .product-img {
    content: url("images/image-product-mobile.jpg");
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  .text {
    border-radius: 0 0 8px 8px;
  }
}
